			<div class="login-message not-authorized"> 
<!-- 			<login-failed></login-failed> -->
			<p class="vertical-align horizontal-centre">
			<a ng-click="ctrl.toLoginPage()" class="signup-link">Please login</a>
	  		</p></div>
			<div class="search-link">
				<a ng-click='ctrl.goToSearch()'><img class="search-link-img" src="../../assets/img/search-link.png"></a>
			</div>
			<div class='content-container horizontal-centre'>
				<div class="header">
					<div class="username-container vertical-align">
	                  <ul class="username horizontal-centre">
	                     <li>
	                        <span >Wa Gwan&#44&nbsp{{ctrl.username}} | </span>
	                     </li>
	                     <li>
	                        <a ng-click='ctrl.logout()' class="">Logout</a>
	                     </li>
	                  </ul>					
                  </div>
				</div>
				<div class="logo-container">
					<img id='add-search-logo' class="horizontal-centre" src='../../assets/img/mobile-logo.png'>
				</div>
				<div class="form-div horizontal-centre">

					<img class="default-pic horizontal-centre" src="../../assets/img/default-link.png">
					<fieldset ng-disabled='isDisabled' id='myField' class='myField'>
					<form class='add-form' id='add-form' enctype="multipart/form-data">
						
								<div class="form-radio">
									<legend>In the system?</legend>
									<input type="radio" name="insystem" id="insystem1" class="insystem" value="Yes" ng-model='ctrl.insystem'>
									<label for='insystem1'  >Yes</label>
									<input type="radio" name="insystem" id='insystem2' class="insystem" value="No" ng-model='ctrl.insystem'>
									<label for="insystem2" >No</label>
								</div>

								<input onchange='angular.element(this).scope().imgPreview()' id='file' upload-directive ='ctrl.file' type='file' name='pic' class='div-form-styles mobile-input-file embossedBorder' placeholder="browse">
						
								<input type="name" id='name-input' name="name" class="name-input div-form-styles embossedBorder" ng-model='ctrl.name' placeholder="Full Name">
							
								<select ng-model='ctrl.sex' id="sex-select" class='div-form-styles embossedBorder'>
									<option>Female</option>
									<option>Male</option>
									<option>Other</option>
								</select>

								<input type="email" id='email-input' name="email" class="div-form-styles mobile-add-input embossedBorder" ng-model='ctrl.email' placeholder="Email">

								<input type="phone" id='phone-input' name="phone" class="div-form-styles mobile-add-input embossedBorder" ng-model='ctrl.phone' placeholder="Phone">

								<input ng-model='ctrl.addressOne' type="text" name="address 1" class="div-form-styles mobile-add-input embossedBorder" placeholder="Address">

								<input ng-model='ctrl.city' id='city-input' type="text" name="city" class="div-form-styles embossedBorder" placeholder="City">

								<select id='city-select' class="div-form-styles embossedBorder" ng-model='ctrl.province'>
									<option>AB</option>
									<option>BC</option>
									<option>MN</option>
									<option>NB</option>
									<option>NF</option>
									<option>NS</option>
									<option>NV</option>
									<option>NWT</option>
									<option>ON</option>
									<option>PEI</option>
									<option>QB</option>
									<option>SK</option>
									<option>YK</option>
								</select>

	
								<textarea ng-model='ctrl.notes' placeholder="Notes" class="div-form-styles add-text-area embossedBorder"></textarea>
	
								<textarea ng-model='ctrl.certifications' placeholder="Certifications" class="div-form-styles add-text-area embossedBorder"></textarea>

<!-- 								<textarea ng-model='ctrl.payInfo' placeholder="pay information" class="add-text-area embossedBorder"></textarea> -->
		
								<ui class='btn-ul'>
									<li>
										<button ng-click='ctrl.add()' class="form-button">Add</button>
										</li>
										</ui>

					</form>
					</fieldset>
				</div> 
			</div>
