<html>
	
	<head>
		<title>Blast Lost Astronaut Search Tool</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href='../../assets/css/styles.css'>
		
		<link rel="stylesheet" type="text/css" href='../../assets/css/reset.css'>
		<link rel="stylesheet" type="text/css" href='../../assets/css/typography.css'>
	</head>
	<body>
		<div class='content'>
			<div class='content-container horizontal-centre vertical-align'>
				<div class="logo-container">
					<img class="horizontal-centre " src='../../assets/img/mobile-logo.png'>
				</div>
				<div class="horizontal-centre astro-container">
					<img class="astro" src="../../assets/img/astro.png">
					<h3>Yo Dada!</h3>
					<p class="email-message">I sent you an email so that you may reset your password. It should be there by the time you're finished reading this message. Clever right!?</p>
				</div>
			</div>
		</div>
	</body>
</html>