		<div class='content'>
			<div class='content-container horizontal-centre vertical-align'>

				<div class="logo-container">
					<img class="horizontal-centre" src='../../assets/img/default-logo.png'>
				</div>

				<div class="login-form-div horizontal-centre">

					<form name='myForm'>
						<ul class="form-ul horizontal-centre">
							<li>
								<login-failed></login-failed>
							</li>
							<li>
								<input type='email' name='myField' class='mobile-input' placeholder="username"
									ng-focus='ctrl.removeMessage()'
									ng-model='ctrl.userName'
									ng-minlength='2'
									ng-maxlength='50'
									required />
								{{myForm.myField.$dirty}}{{myForm.myField.$error}}
								<div ng-messages='myForm.myField.$error && myForm.myField.$dirty'>
									<div ng-message="required">You gotta insert your user name brah.</div>
									<div ng-message="email">That does not look like a username to me.</div>
									<div ng-message="minlength">That name is way too short.</div>
									<div ng-message="maxlength">That name is way too long.</div>
								</div>
								<!-- {{ctrl.userName}} -->
							</li>
							<li>

								<input type="password" ng-model='ctrl.password' name="password" class="mobile-input" placeholder="password">
								<!-- {{ctrl.password}} -->

							</li>
						</ul>
						<ul class="form2-ul">
							<li class="load-pic-li"><img class="load-pic" height="30px" width="30px" src="../../assets/img/loadingGif.gif">
		<!-- 					<li>
								<label>
									<input type="checkbox" name="remember">Remember Me
								</label>
							</li> -->
							<li>
								<button ng-click='ctrl.login()' class="form-button">login</button>
							</li>
						</ul>
					</form>

				</div>
				<div class='forgot-link'><a href="#">Forgot My Password</a></div>
			</div>
		
