		<div class='content'>
			<div class='content-container horizontal-centre vertical-align'>
				<div class="logo-container">
					<img class="horizontal-centre" src='../../assets/img/default-logo.png'>
				</div>
				<div class="login-form-div horizontal-centre">
					<form name='frmPassword'>
						<ul class="form-ul horizontal-centre">
						<li>Plese enter a new passwrod</li>
						<li>
							<div 
								ng-show='frmPassword.passwordTxt.$dirty'
								ng-messages-multiple 
								ng-messages='frmPassword.passwordTxt.$error'>
								<div ng-message='required'>
									This field is required.
								</div>
								<div ng-message='minlength'>
									your password should be at least 8 characters long.
								</div>
								<div ng-message='maxlength'>Your password is way too long.
								</div>
	<!-- 	not working for some reaso	<div ng-message='pattern'>
									Im tracking you
								</div> -->
							</div>
						</li>
							<li>
								<input ng-model='ctrl.passwordOne' type='password' name='passwordTxt' class='mobile-input' placeholder="password"
								required
								ng-maxlength='100'
								ng-minlength='8'>
							</li>
							<li><input ng-model='ctrl.passwordTwo' type="password" name="confirm-password" class="mobile-input" placeholder="confirm"></li></ul>
							<ul class="form2-ul">

							<li class="load-pic-li">
								<img class="load-pic" height="30px" width="30px" src="../../assets/img/loadingGif.gif">
							</li>
							<li>
								<button ng-click='ctrl.submitNewPassword()' class="form-button">Set</button>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</div>

