 
        <div class="login-message not-authorized">
            <p class="vertical-align horizontal-centre">
               <a ng-click="ctrl.toLoginPage()" class="signup-link">Please login</a>
            </p>
        </div> 
      <div class="add-link">
         <a ng-click='ctrl.goToAdd()'>
            <img src="../../assets/img/add-link.png">
         </a>
      </div>
      <div class='content-container horizontal-centre'>
         <div class="header">

               <div class="username-container vertical-align">
                  <ul class="username horizontal-centre">
                     <li>
                        <span>Wa Gwan&#44&nbsp{{ctrl.username}} | </span>
                     </li>
                     <li>
                        <a ng-click='ctrl.logout()' class="">Logout</a>
                     </li>
                  </ul>
               </div>
            </div>
         <div class="logo-container">
            <img id='add-search-logo' class="horizontal-centre" src='../../assets/img/mobile-logo.png'>
         </div>
         <div class="search-container horizontal-centre">
            <form class="">
               <ul class="search-ul horizontal-centre">
                  <li class="">
                     <input ng-keypress='ctrl.searchAstronauts()' placeholder="Search" ng-model='ctrl.search[ctrl.select.field]' class="horizontal-centre search-bx search-form-element" type="text" name="">
                  </li>
                  <li>
                     <select id='search-select'  ng-init="ctrl.select = ctrl.selectOptions[0]" class="embossedBorder search-form-element" ng-options='option.label for option in ctrl.selectOptions'  required ng-model='ctrl.select'>
                     </select>
                     <button ng-click='ctrl.clearSearch(ctrl.selectOptions.field)'>Clear</button>
                  </li>
               </ul>
            </form>
         </div>
         <div>
            <!--   edit astros   -->
          <div class="update-container">
            <div class="update-div horizontal-centre">

               <display-update-picture></display-update-picture>
               <img class="update-default-pic horizontal-centre" src="../../assets/img/default-link.png">
               <fieldset ng-disabled='isDisabled' id='myField' class='myField'>
               <form name='addForm' class='update-form' id='add-form' enctype="multipart/form-data">
                  
                        <input addForm.name.$dirty  type="name" id='update-name-input' name="name" class="update-form-input embossedBorder" ng-model='ctrl.name' placeholder="Full Name">
                     
                        <select ng-model='ctrl.sex' id="update-sex-select" class='update-select embossedBorder'>
                           <option>Female</option>
                           <option>Male</option>
                           <option>Other</option>
                        </select>

                        <input type="email" id='email-input' name="email" class="update-single-input embossedBorder" ng-model='ctrl.email' placeholder="Email">

                        <input type="phone" id='phone-input' name="phone" class="update-single-input embossedBorder" ng-model='ctrl.phone' placeholder="Phone">

                        <input ng-model='ctrl.addressOne' id='address-input' type="text" name="address 1" class="update-single-input embossedBorder" placeholder="Address">

                        <input ng-model='ctrl.city' id='update-city-input' type="text" name="city" class="update-form-input embossedBorder" placeholder="City">

                        <select id='update-city-select' class="update-select embossedBorder" ng-model='ctrl.province'>
                           <option>AB</option>
                           <option>BC</option>
                           <option>MN</option>
                           <option>NB</option>
                           <option>NF</option>
                           <option>NS</option>
                           <option>NV</option>
                           <option>NWT</option>
                           <option>ON</option>
                           <option>PEI</option>
                           <option>QB</option>
                           <option>SK</option>
                           <option>YK</option>
                        </select>

                        <textarea ng-model='ctrl.notes' id='note-txt' placeholder="Notes" class="update-text-area embossedBorder"></textarea>
   
                        <textarea ng-model='ctrl.certifications' id='cert-txt' placeholder="Certifications" class="update-text-area embossedBorder"></textarea> {{ctrl.certifications}}

<!--                       <textarea ng-model='ctrl.payInfo' placeholder="pay information" class="add-text-area embossedBorder"></textarea> -->

                        <input ng-model='ctrl.id' type="hidden" ng-value='id' name="id" id='id-input'>

                        <input ng-model='ctrl.index' type='hidden' ng-value='index' id='index-input' name='index'>

                        <ui class='btn-ul'>
                           <li>
                              <button ng-click='ctrl.updateAstronaut($index)' class="form-button">Add</button>
                              </li>
                              </ui>
               </form>
               </fieldset>
            </div> 
          </div>
            <!-- email divs -->
            <ul class="email-forms-ul">
               <li class="container-li">
                  <div id='email-astros-div' class="collapse in">
                     <div class="email-list-title">
                        <h4 class="subsection-title">Who am I emailing</h4>
                        <!-- <a class="collapse-link" data-toggle='collapse' data-target='#email-astros-div' href="#email-astros-div">Who am I emailing?</a> --> 	
                     </div>
                     <div id='email-list-div' class="horizontal-centre collapse in email-list-div">
                        <ul id='emailUl' class="email-ul search-ul horizontal-centre">
<!--                               <img class="email-pic" src="../../assets/img/default-link-mobile.png"> -->
							<display-picture>
                        <remove-picture></remove-picture>              
                     </display-picture>
                          
                        </ul>
	     <!-- 	 -->
                     </div>
                  </div>
               </li>
               <li class="container-li email-container ">
                  <div id='email-frm-container' class="email-astros-form horizontal-centre">
                     <div class="email-form-title">
                        <h4 class="subsection-title">Email Astronauts</h4>
                        <!-- <a class="collapse-link" data-toggle='collapse' href="#email-form-div-container" >Email Astronauts</a> -->
                     </div>
                     <div id="email-form-div-container" class='email-form-div collapse in'>
                        <form enctype="multipart/form-data" class="email-form">
                           <ul class="search-ul horizontal-centre">
                              <li class="">
                                 <input class="search-form-element" ng-model='ctrl.toInput' placeholder="To" type="text" name="">
                              </li>
                              <li>
                                 <textarea ng-model='ctrl.messageText' placeholder="Message" class="search-textarea embossedBorder"></textarea>
                              </li>
                              <li class="load-text"><p>Sent</p></li>
                              <li>
                                 <button id="email-btn" ng-click='ctrl.emailAstros()'>Send</button>
                              </li>
                           </ul>
                        </form>
                     </div>
                  </div>
               </li>
            </ul>
            <!--              -->
            <div id='results-container-div' class="results-container horizontal-centre">
               <div class="results-container-bg horizontal-centre">
                  <div ng-repeat='($index, astronaut) in ctrl.astronauts | orderBy:selectOptions.field | filter: ctrl.search'>

	                  <div class="results-container-title">
	                     <ul class="check-ul search-ul horizontal-centre">
	                        <li class="li-centre pic-li">
	                           <!-- <img class="profile-pic" ng-src='{{astronaut.picture.data.data}}'> -->
	                           <buffer-to-img></buffer-to-img>
	                        </li>
	                        <li class="less-link-li result-li">
	                           <a ng-click='ctrl.lessMaie()' class="collapse-link" aria-expanded="false" aria-controls="search-results{{$index}}" data-target='#search-results{{$index}}' data-toggle='collapse'>Less</a><label> |
	                          <!--  <button ng-click="displayPicture()"></button> -->
                              <label>
                                 <input class='update-chkbx' type='checkbox' ng-model="ctrl.checkBoxes[$index].value" ng-true-value='"displayUpdatePic"' ng-false-value='"removeUpdatePic"' ng-change="displayUpdatePicture($index)"> Update |
                              </label>
	                           <input class="email-chkbx" type="checkbox" ng-model="ctrl.checkBoxes[$index].value" ng-true-value='"display"' ng-false-value='"remove"' ng-change="displayPicture($index, ctrl.checkBoxes[$index].value)">Email 
	                           </label>
                              <!-- <a ng-click='ctrl.update()' class="collapse-link">Update</a> -->
	                        </li>
	                        <li class="result-li">
	                        </li>
	                     </ul>
	                  </div>
	                  <div id="search-results{{$index}}" class="horizontal-centre search-results-div collapse in">
	                     <ul class="results-ul search-ul horizontal-centre">
  <!--                          <li>
                              <h4>$index</h4>
                              <span>{{$index}}</span>
                           <li>
                              <h4>Object ID</h4>
                              <span>{{astronaut._id}}</span>
                           </li> -->
<!--                            <li>
                              <h4>In the system?</h4>
                              <span>{{astronaut.insystem}}</span>
                           </li> -->
                           </ul>
                           <ul class="results-ul search-ul horizontal-centre" >
	                        <li>
                           
	                           <h4>{{astronaut.name}}&nbsp-&nbsp{{astronaut.sex}}</h4>
                              <p>{{astronaut.email}}</p>
                              <p>{{astronaut.phone}}</p>
                              <p>{{astronaut.addressOne}},&nbsp{{astronaut.city}},&nbsp{{astronaut.province}}</p>
	                        </li>
	                     </ul>
	                     <ul class="results-ul search-ul horizontal-centre">
	                        <li>
	                           <h4>Notes</h4>
	                           <p>{{astronaut.notes}}</p>
	                        </li>
	                     </ul>
<!-- 	                     <ul class="results-ul search-ul horizontal-centre">
	                        <li>
	                           <h4>Pay Info</h4>
	                           <p>{{astronaut.payInfo}}</p>
	                        </li>
	                     </ul> -->
	                     <ul class="results-ul search-ul horizontal-centre">
	                        <li>
	                           <h4>Special Certification</h4>
	                           <p>{{astronaut.certifications}}</p>
	                        </li>
	                     </ul>
	                  </div>

                  </div>

<!--                   <div class="results-container-title">
                     <ul class="results-ul" search-ul horizontal-centre">
                        <li class="li-centre pic-li">
                           <img src='..\assets\img\default-link-mobile.png'>
                        </li>
                        <li class="less-link-li result-li">
                           <a class="collapse-link" aria-expanded="false" aria-controls="search-results2" data-target='#search-results2' data-toggle='collapse'>Less</a><label>
                           <input class="email-chkbx" type="checkbox" name="">Email
                           </label>
                        </li>
                        <li class="result-li">
                        </li>
                     </ul>
                  </div>
                  <div id="search-results2" class="horizontal-centre search-results-div">
                     								<span>Mike Jord</span><span>-Male</span>
                        <span>1234 Here Street, Toronto, ON 1o1o1o</span>
                        <h6>Note</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus urna sit amet dolor tempus rutrum. Vestibulum sit amet tincidunt justo, nec faucibus tortor.</p>
                        <h5>Pay Info</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus urna sit amet dolor tempus rutrum. Vestibulum sit amet tincidunt justo, nec faucibus tortor.</p>
                        <h5>Certifications</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus urna sit amet dolor tempus rutrum. Vestibulum sit amet tincidunt justo, nec faucibus tortor.</p>
                     <ul class="results-ul search-ul horizontal-centre">
                        <li>
                           <h4>Mike Jord - Male</h4>
                        </li>
                        <li>
                           <p>1234 Here Street, Toronto, ON M4I1O1</p>
                        </li>
                     </ul>
                     <ul class="results-ul search-ul horizontal-centre">
                        <li>
                           <h4>Notes</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus urna sit amet dolor tempus rutrum. Vestibulum sit amet tincidunt justo, nec faucibus tortor.</p>
                        </li>
                     </ul>
                     <ul class="results-ul search-ul horizontal-centre">
                        <li>
                           <h4>Pay Info</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus urna sit amet dolor tempus rutrum. Vestibulum sit amet tincidunt justo, nec faucibus tortor.</p>
                        </li>
                     </ul>
                     <ul class="results-ul search-ul horizontal-centre">
                        <lo>
                           <h4>Special Certification</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi cursus urna sit amet dolor tempus rutrum. Vestibulum sit amet tincidunt justo, nec faucibus tortor. </p>
                        </lo>
                     </ul>
                  </div> -->
               </div>
            </div>
         </div>

